body {
  background-color: #F9E79F;
  font-family: arial;
  font-size: 22px;
}

.number {
  color: blue;
}

.string {
  color: green;
}

.comment {
  color: deeporange;
  font-style: italic;
}

.variable {
  color: black;
}

.reserved-word {
  color: steelblue;
}

.function {
  color: deeppink;
}

.punctuation {
  color: orange;
}

.bad-token {
  background-color: red;
  color: white;
}